.wrapper {
  /* background: rgb(175, 175, 175); */
  background-image: url("newWall.jpg");
  background-size: 100%;
  background-repeat: none;
  background-position-y: 80%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  font-family: "Covered By Your Grace," cursive;
  padding-bottom: 50px;
}
